
# Ambiente
PRODUCTION=false
APP_NAME=PEDIDO SERVICE

# Porta do servidor
PORT=3001

# Banco de dados (se usar Prisma + PostgreSQL)
DATABASE_URL=postgresql://usuario:senha@localhost:5432/db_name
DATABASE_MAX_POOL=10

# Cache
DATABASE_CACHE_URL=redis://localhost:6379

#Mensageria
RABBITMQ_URL=amqp://usuario:senha@localhost:5672/
RABBITMQ_EXCHANGENAME=events_example
RABBITMQ_EXCHANGETYPE=topic
RABBITMQ_QUEUE=queue
RABBITMQ_ROUTING_KEY=events.*


#AUTH_SERVICE
AUTH_SERVICE_URL=localhost:3000