.botaoEntrar:hover,
.botaoEntrar:focus,
.botaoEntrar:active {
  background-color: #4f80d6 !important; /* ou uma cor mais escura para hover */
  color: white !important;
}

.botaoEntrar {
  background-color: #E25D2F;
}

@media (max-width: 991.98px) {
  .container-fluid .row {
    margin: 1rem;
    border-radius: 1rem !important;
  }
}

@media (max-width: 575.98px) {
  .container-fluid {
    padding: 0.5rem;
  }

  .col-12 {
    padding: 2rem 1.5rem !important;
  }
}